{{!-- <main>
    <h1>{{product.name}}</h1>
    <img class="cube" src="{{product.img}}" alt="{{product.name}}">
    <div class="details">
        <p><span>Description:</span style=""> {{product.description}}</p>
        <p><span>Difficulty level:</span> {{product.difficulty}}</p>
        <a class="btn" href="/">Back</a>
    </div>
</main> --}}

<main>
    <h1>{{product.name}}</h1>
    <img class="cube" src="{{product.img}}" alt="{{product.name}}" style="max-width: 300px; height: auto;">
    <div class="details">
        <p><span>Description:</span> {{product.description}}</p>
        <p><span>Difficulty level:</span> {{product.difficulty}}</p>
        <a class="btn" href="/">Back</a>
    </div>
</main>
